h1 {
    font-family: $f-bold;
    font-size: 45px;
    line-height: 98.4px;
    @media(max-width:1220px) {
        font-size: 40px;
        line-height: 80px;
    }
    @media(max-width:1024px) {
        font-size: 34px;
        line-height: 70px;
    }
    @media(max-width:768px) {
        font-size: 30px;
        line-height: 50px;
    }
    @media(max-width:414px) {
        font-size: 24px;
        line-height: 31px;
    }
}

h2 {
    font-family: $f-bold;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 0;
    @media(max-width:1024px) {
        font-size: 32px;
        line-height: 42px;
    }
    @media(max-width:768px) {
        font-size: 28px;
        line-height: 36px;
    }
    @media(max-width:414px) {
        font-size: 26px;
        line-height: 31px;
    }
}

h3 {
    font-family: $f-light;
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 0;
    @media(max-width:1024px) {
        font-size: 22px;
        line-height: 28px;
    }
    @media(max-width:768px) {
        font-size: 20px;
        line-height: 26px;
    }
    @media(max-width:414px) {
        font-size: 18px;
        line-height: 23px;
    }
}

.fa {
    margin-right: 5px;
}

.viewport {
    .col-md-12 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:768px) {
            flex-direction: column;
        }
        .v-left {
            color: white;
            width: 100%;
            @media(max-width:768px) {
                margin-top: 35px;
                text-align: center;
            }
            span {
                font-size: 100px;
                line-height: 65px;
                position: relative;
                left: -4px;
                @media(max-width:1220px) {
                    font-size: 90px;
                }
                @media(max-width:1024px) {
                    font-size: 75px;
                }
                @media(max-width:768px) {
                    font-size: 60px;
                    line-height: 50px;
                }
                @media(max-width:414px) {
                    font-size: 48px;
                }
            }
            p {
                font-family: $f-regular;
                font-size: 21px;
                line-height: 40px;
                @media(max-width:1220px) {
                    font-size: 20px;
                    line-height: 36px;
                }
                @media(max-width:1024px) {
                    font-size: 18px;
                    line-height: 36px;
                }
                @media(max-width:768px) {
                    font-size: 16px;
                    line-height: 20px;
                }
                @media(max-width:414px) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
        .v-right {
            margin: 62px 0 72px 15px;
            @media(max-width:1024px) {
                margin: 50px 0 50px 15px;
            }
            @media(max-width:768px) {
                margin: 35px 0 50px;
            }
            @media(max-width:414px) {
                width: 100%;
                margin: 35px 0 40px;
            }
            p {
                font-family: $f-bold;
                font-size: 18px;
                line-height: 25px;
                width: 100%;
                display: inline-block;
                background-color: $c-blue;
                color: white;
                text-align: center;
                padding: 7.5px 0;
                @media(max-width:768px) {
                    font-size: 16px;
                    line-height: 20px;
                }
                @media(max-width:414px) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
            form {
                width: 360px;
                padding: 20px 25px 35px;
                background-color: white;
                @media(max-width:414px) {
                    width: 100%;
                    padding: 20px 15px;
                }
                input {
                    color: #060809;
                    font-family: $f-light;
                    font-size: 14px;
                    width: 100%;
                    margin-top: 5px;
                    padding: 7px 15px;
                    background-color: #e1e1e1;
                    border: solid 1px #e1e1e1;
                    &:hover {
                        border: solid 1px #91cde2;
                    }
                    &:focus {
                        border: solid 1px $c-blue;
                    }
                }
                .submit {
                    font-family: $f-bold;
                    font-size: 16px;
                    line-height: 25px;
                    text-transform: uppercase;
                    margin-top: 10px;
                    color: white;
                    background-color: $c-red;
                    border: solid 1px $c-red;
                    transition: all 0.2s ease-in-out;
                    @media(max-width:1024px) {
                        font-size: 15px;
                    }
                    @media(max-width:768px) {
                        font-size: 14px;
                    }
                    @media(max-width:414px) {
                        margin-top: 5px;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: white;
                        color: $c-red;
                        border: solid 1px $c-red;
                        transition: all 0.2s ease-in-out;
                    }
                    &:focus {
                        border: solid 1px $c-red;
                    }
                }
            }
        }
    }
}

.service {
    padding: 23px 0;
    @media(max-width:1170px) {
        padding-top: 50px;
    }
    @media(max-width:1024px) {
        padding-top: 50px;
    }
    @media(max-width:768px) {
        padding-top: 35px;
        padding-bottom: 8px;
    }
    .row {
        align-items: center;
        h2 {
            font-family: $f-bold;
            font-size: 24px;
            line-height: 50px;
            text-align: center;
            @media(max-width:1024px) {
                font-size: 22px;
                line-height: 28px;
            }
            @media(max-width:768px) {
                font-size: 20px;
                line-height: 26px;
                padding: 0 37px;
            }
        }
        .s-icon-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 23px;
            width: 100%;
            padding: 0 40px;
            @media(max-width:1024px) {
                padding: 0 15px;
            }
            @media(max-width:768px) {
                flex-wrap: wrap;
            }
            .s-icon-group-outer {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: 0 10px;
                width: 16.67%;
                @media(max-width:768px) {
                    width: 33.33%;
                    margin: 0 0 15px;
                }
                @media(max-width:414px) {
                    width: 50%;
                }
                .icon-img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: $c-blue;
                    @media(max-width:1024px) {
                        width: 75px;
                        height: 75px;
                    }
                    @media(max-width:768px) {
                        width: 65px;
                        height: 65px;
                    }
                }
                .icon-text {
                    white-space: nowrap;
                    margin-top: 20px;
                    @media(max-width:768px) {
                        margin-top: 15px;
                    }
                    p {
                        font-family: $f-bold;
                        font-size: 16px;
                        text-transform: uppercase;
                        @media(max-width:768px) {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
        .s-detial-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 72px;
            @media(max-width:1170px) {
                margin-top: 40px;
            }
            @media(max-width:768px) {
                margin-top: 25px;
            }
            @media(max-width:414px) {
                margin-top: 15px;
            }
            .s-detial-group-outer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                height: 180px;
                color: white;
                width: 25%;
                padding: 0 14px;
                @media(max-width:1170px) {
                    width: 500px;
                    padding: 0 100px;
                    margin-bottom: 30px;
                }
                @media(max-width:1020px) {
                    width: 380px;
                    padding: 0 45px;
                }
                @media(max-width:777px) {
                    width: 320px;
                    padding: 0 15px;
                }
                p {
                    white-space: nowrap;
                }
                .s-price {
                    font-family: $f-black;
                    font-size: 30px;
                    line-height: 55px;
                    margin-top: 20px;
                    width: 100%;
                    display: inline-block;
                    letter-spacing: 1px;
                }
                .s-title {
                    font-family: $f-light;
                    font-size: 24px;
                    line-height: 50px;
                }
                a {
                    font-family: $f-bold;
                    font-size: 12px;
                    line-height: 36px;
                    border: solid 1px black;
                    background-color: black;
                    text-transform: uppercase;
                    color: white;
                    padding: 9px 36px;
                    transition: all 0.2s ease-in-out;
                    @media(max-width:1170px) {
                        line-height: 45px;
                    }
                    &:hover {
                        background-color: white;
                        color: black;
                        transition: all 0.2s ease-in-out;
                    }
                }
                .small-detial {
                    .s-price {
                        font-size: 25px;
                    }
                    .s-title {
                        font-size: 20px;
                    }
                }
                .blue-detial {
                    background-color: $c-blue;
                    .s-price {
                        background-color: $c-dark-blue;
                    }
                }
                .orange-detial {
                    background-color: $c-orange;
                    .s-price {
                        background-color: $c-dark-orange;
                    }
                }
            }
            .s-detial-group-outer > div {
                width: 100%;
                height: 100%;
                text-align: center;
            }
        }
        .col-md-12 {
            text-align: center;
            @media(max-width:768px) {
                padding: 0 35px;
            }
            @media(max-width:414px) {
                padding: 0 15px;
            }
            .s-text1 {
                font-family: $f-bold;
                margin-top: 55px;
                font-size: 24px;
                line-height: 30px;
                @media(max-width:1170px) {
                    margin-top: 35px;
                }
                @media(max-width:1024px) {
                    margin-top: 20px;
                    font-size: 22px;
                    line-height: 28px;
                }
                @media(max-width:768px) {
                    font-size: 20px;
                    line-height: 26px;
                }
                @media(max-width:414px) {
                    font-size: 18px;
                    line-height: 23px;
                    margin-top: 5px;
                }
            }
            .s-text2 {
                font-family: $f-light;
                font-size: 16px;
                margin: 25px 0 40px;
                @media(max-width:1024px) {
                    margin: 25px 0 27px;
                    font-size: 15px;
                }
                @media(max-width:414px) {
                    font-size: 14px;
                }
            }
            br {
                @media(max-width:1100px) {
                    display: none;
                }
            }
        }
    }
}

.blocked {
    display: flex;
    flex-direction: row;
    @media(max-width:768px) {
        flex-wrap: wrap;
    }
    .b-left {
        width: 50%;
        @media(max-width:768px) {
            width: 100%;
            order: 6;
        }
        img {
            opacity: 0;
            @media(max-width:768px) {
                opacity: 1;
            }
        }
    }
    .b-right {
        padding: 115px calc((100% - 1170px )/2) 115px 60px;
        color: white;
        width: 50%;
        @media(max-width:1220px) {
            padding: 60px;
        }
        @media(max-width:1024px) {
            padding: 50px;
        }
        @media(max-width:768px) {
            width: 100%;
            padding: 35px;
            order: 5;
        }
        @media(max-width:414px) {
            padding: 35px 15px;
        }
        br {
            @media(max-width:1220px) {
                display: none;
            }
        }
        .b-medium {
            font-family: $f-regular;
            font-size: 18px;
            line-height: 25px;
            margin-top: 12px;
            @media(max-width:1024px) {
                font-size: 16px;
                line-height: 20px;
            }
            @media(max-width:768px) {
                font-size: 14px;
                line-height: 18px;
            }
        }
        .b-light {
            font-family: $f-light;
            font-size: 16px;
            line-height: 25px;
            margin-top: 25px;
            @media(max-width:1024px) {
                font-size: 16px;
                line-height: 20px;
                margin-top: 20px;
            }
            @media(max-width:768px) {
                font-size: 14px;
                line-height: 18px;
                margin-top: 15px;
            }
        }
        .b-big-light {
            font-family: $f-light;
            font-size: 18px;
            line-height: 34px;
            margin-top: 27px;
            @media(max-width:1024px) {
                font-size: 16px;
                line-height: 20px;
                margin-top: 20px;
            }
            @media(max-width:768px) {
                font-size: 14px;
                line-height: 18px;
                margin-top: 15px;
            }
        }
        a {
            font-family: $f-light;
            font-size: 21px;
            line-height: 25px;
            display: inline-block;
            margin-top: 10px;
            padding: 12px 25px;
            color: white;
            background-color: $c-red;
            transition: all 0.2s ease-in-out;
            @media(max-width:1024px) {
                font-size: 18px;
                line-height: 24px;
                padding: 8px 20px;
                margin-top: 20px;
            }
            @media(max-width:768px) {
                font-size: 16px;
            }
            @media(max-width:414px) {
                font-size: 14px;
            }
            &:hover {
                cursor: pointer;
                background-color: white;
                color: $c-red;
                transition: all 0.2s ease-in-out;
            }
            span {
                font-family: $f-bold;
            }
        }
    }
}

.clients {
    text-align: center;
    padding: 42px 0 35px;
    @media(max-width:1024px) {
        padding: 50px 0 40px;
    }
    @media(max-width:768px) {
        padding: 35px 0 25px;
    }
    .slide-container {
        margin: 0 -13.5px;
        .slide-outer {
            background-color: white;
            text-align: left;
            margin: 60px 13.5px 0;
            padding: 50px 45px;
            position: relative;
            @media(max-width:768px) {
                margin: 50px 13.5px 0;
            }
            @media(max-width:414px) {
                padding: 30px;
                margin: 35px 13.5px 0;
            }
            .icon-img {
                position: absolute;
                left: 20px;
                top: -35px;
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-color: $c-blue;
                @media(max-width:414px) {
                    width: 50px;
                    height: 50px;
                    top: -25px;
                }
            }
            .slide-text {
                .s-content {
                    font-family: $f-light;
                    font-size: 16px;
                    line-height: 25px;
                    @media(max-width:768px) {
                        font-size: 14px;
                    }
                }
                .s-black {
                    font-family: $f-bold;
                    font-size: 18px;
                    line-height: 25px;
                    margin-top: 15px;
                    @media(max-width:768px) {
                        font-size: 16px;
                    }
                }
            }
        }
        .slick-dots {
            margin-top: 30px;
            @media(max-width:768px) {
                margin-top: 20px;
            }
            li {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #cacaca;
                margin: 0 4px;
                transition: all 0.2s ease-in-out;
                button {
                    display: none;
                }
                &:hover {
                    transition: all 0.2s ease-in-out;
                    background-color: $c-blue;
                    cursor: pointer;
                }
            }
            .slick-active {
                background-color: $c-blue;
            }
        }
    }
}

.support {
    background-color: $c-dark-blue;
    color: white;
    text-align: center;
    padding: 70px 0;
    @media(max-width:1024px) {
        padding: 50px 0;
    }
    @media(max-width:768px) {
        padding: 35px 0;
    }
    .support-icon-group {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 30px 55px;
        @media(max-width:1024px) {
            padding: 20px 30px;
        }
        @media(max-width:768px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        img {
            @media(max-width:768px) {
                margin: 5px;
            }
            &:first-child {
                width: 110px;
                @media(max-width:1024px) {
                    width: 70px;
                }
                @media(max-width:768px) {
                    width: 140px;
                }
                @media(max-width:414px) {
                    width: 110px;
                }
            }
            &:nth-child(2) {
                width: 160px;
                @media(max-width:1024px) {
                    width: 120px;
                }
                @media(max-width:768px) {
                    width: 190px;
                }
                @media(max-width:414px) {
                    width: 140px;
                }
            }
            &:nth-child(3) {
                width: 215px;
                @media(max-width:1024px) {
                    width: 175px;
                }
                @media(max-width:768px) {
                    width: 230px;
                }
                @media(max-width:414px) {
                    width: 200px;
                }
            }
            &:nth-child(4) {
                width: 100px;
                @media(max-width:1024px) {
                    width: 50px;
                }
                @media(max-width:768px) {
                    width: 120px;
                }
                @media(max-width:414px) {
                    width: 95px;
                }
            }
            &:nth-child(5) {
                width: 120px;
                @media(max-width:1024px) {
                    width: 80px;
                }
                @media(max-width:768px) {
                    width: 150px;
                }
                @media(max-width:414px) {
                    width: 120px;
                }
            }
            &:last-child {
                width: 150px;
                @media(max-width:1024px) {
                    width: 110px;
                }
                @media(max-width:768px) {
                    width: 180px;
                }
                @media(max-width:414px) {
                    width: 140px;
                }
            }
        }
    }
}

.contact {
    color: white;
    padding: 50px 0;
    @media(max-width:768px) {
        padding: 35px 0;
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @media(max-width:768px) {
            flex-direction: column;
        }
        .map {
            width: 450px;
            height: 440px;
            //          background-color: white;
            @media(max-width:999px) {
                width: 40%;
            }
            @media(max-width:768px) {
                width: 100%;
            }
        }
        .contact-form {
            width: 650px;
            padding-bottom: 10px;
            margin-left: 40px;
            @media(max-width:1220px) {
                width: calc(100% - 490px);
            }
            @media(max-width:999px) {
                width: 57%;
            }
            @media(max-width:768px) {
                width: 100%;
                padding-top: 35px;
                padding-bottom: 0;
                margin-left: 0;
            }
            h2 {
                font-size: 18px;
                line-height: 50px;
                @media(max-width:1024px) {
                    font-size: 16px;
                    line-height: 28px;
                }
                @media(max-width:768px) {
                    line-height: 18px;
                }
            }
            h3 {
                line-height: 15px;
                @media(max-width:1024px) {
                    line-height: 28px;
                }
                @media(max-width:768px) {
                    margin: 5px 0;
                }
            }
            form {
                margin-top: 20px;
                @media(max-width:1024px) {
                    margin-top: 10px;
                }
                input {
                    width: 100%;
                    font-family: $f-regular;
                    font-size: 12px;
                    line-height: 16px;
                    padding: 10px 15px;
                    margin-bottom: 15px;
                    background-color: white;
                    color: #191919;
                    border: solid 1px white;
                    &:hover {
                        border: solid 1px #f49b87;
                    }
                    &:focus {
                        border: solid 1px $c-orange;
                    }
                }
                textarea {
                    width: 100%;
                    font-family: $f-regular;
                    font-size: 12px;
                    line-height: 16px;
                    padding: 10px 15px;
                    color: #191919;
                    background-color: white;
                    border: solid 1px white;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        border: solid 1px #f49b87;
                        transition: all 0.2s ease-in-out;
                    }
                    &:focus {
                        border: solid 1px $c-orange;
                        transition: all 0.2s ease-in-out;
                    }
                }
                .submit-text {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 10px;
                    @media(max-width:430px) {
                        flex-direction: column;
                        align-items: center;
                    }
                    p {
                        font-family: $f-light;
                        font-size: 22px;
                        line-height: 42px;
                        @media(max-width:1024px) {
                            font-size: 19px;
                            line-height: 38px;
                        }
                        @media(max-width:768px) {
                            font-size: 17px;
                        }
                        @media(max-width:430px) {
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                    input {
                        color: white;
                        font-family: $f-bold;
                        font-size: 16px;
                        line-height: 25px;
                        width: 195px;
                        padding: 9px 0;
                        margin-left: 15px;
                        color: white;
                        border: none;
                        background-color: $c-red;
                        transition: all 0.2s ease-in-out;
                        @media(max-width:1024px) {
                            font-size: 15px;
                            width: 150px;
                            padding: 7px 0;
                        }
                        @media(max-width:885px) {
                            margin: 0 0 0 10px;
                        }
                        @media(max-width:414px) {
                            font-size: 14px;
                            margin: 0 auto;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: white;
                            color: $c-red;
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }
            }
            .info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                font-family: $f-light;
                font-size: 27px;
                line-height: 30px;
                text-align: center;
                @media(max-width:1220px) {
                    font-size: 21px;
                    margin-top: 5px;
                }
                @media(max-width:1024px) {
                    font-size: 20px;
                    line-height: 26px;
                }
                @media(max-width:885px) {
                    flex-direction: column;
                    justify-content: center;
                }
                @media(max-width:768px) {
                    font-size: 18px;
                    line-height: 23px;
                    margin-top: 15px;
                }
                @media(max-width:414px) {
                    font-size: 16px;
                    line-height: 20px;
                }
                .info-m {
                    @media(max-width:885px) {
                        display: none;
                    }
                }
                a {
                    color: white;
                    display: inline-block;
                    @media(max-width:885px) {
                        margin-bottom: 10px;
                    }
                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 1px;
                        background-color: white;
                        transition: all 0.2s ease-in-out;
                        margin-top: 3px;
                    }
                    &:hover {
                        &:after {
                            width: 100%;
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

//thank you
.thanks-content {
    background-image: url("../img/service-bg.jpg");
    box-shadow: 3px 0 5px #1f1f1f;
    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 225px);
        min-height: 600px;
        @media(max-width:1220px) {
            height: calc(100vh - 193px);
        }
        @media(max-width:1024px) {
            height: calc(100vh - 178px);
            min-height: 590px;
        }
        @media(max-width:768px) {
            height: calc(100vh - 198px);
        }
        @media(max-width:767px) {
            height: auto;
            padding: 80px 0;
        }
        @media(max-width:414px) {
            padding: 50px 0;
            min-height: auto;
        }
        @media(max-width:320px) {
            padding: 30px 0;
        }
        .check {
            width: 280px;
            height: 280px;
            border-radius: 50%;
            border: solid 5px black;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            @media(max-width:1024px) {
                width: 200px;
                height: 200px;
            }
            @media(max-width:768px) {
                width: 160px;
                height: 160px;
            }
            @media(max-width:414px) {
                width: 140px;
                height: 140px;
            }
            @media(max-width:375px) {
                width: 120px;
                height: 120px;
            }
            i {
                font-size: 200px;
                line-height: 200px;
                @media(max-width:1024px) {
                    font-size: 140px;
                    line-height: 140px;
                }
                @media(max-width:768px) {
                    font-size: 115px;
                    line-height: 115px;
                }
                @media(max-width:414px) {
                    font-size: 100px;
                    line-height: 100px;
                }
                @media(max-width:375px) {
                    font-size: 75px;
                    line-height: 75px;
                }
            }
        }
        h2 {
            margin-top: 20px;
            text-align: center;
            width: 100%;
            @media(max-width:414px) {
                font-size: 24px;
                line-height: 30px;
            }
            br {
                @media(min-width:769px) {
                    display: none;
                }
            }
            a {
                color: $c-blue;
                transition: all 0.2s ease-in-out;
                white-space: nowrap;
                &:hover {
                    color: $c-red;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
        .go-back {
            background-color: $c-red;
            border: solid 1px $c-red;
            transition: all 0.2s ease-in-out;
            padding: 10px 20px;
            margin-top: 20px;
            @media(max-width:1024px) {
                padding: 6px 15px;
            }
            a {
                font-family: $f-bold;
                font-size: 22px;
                line-height: 28px;
                color: white;
                text-transform: uppercase;
                @media(max-width:1024px) {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
            &:hover {
                background-color: white;
                transition: all 0.2s ease-in-out;
                a {
                    color: $c-red;
                }
            }
        }
    }
}
//form
#result1 p.login-tip , #result3 p.login-tip  {
    font-size: 14px;
    background: none;
    font-family: "Roboto Light";
}

#result3{
    text-align: center;
    margin-top: 10px;
}
#result2 p {
    float: right;
    position: relative;
    top: -5px;
    font-family: "Roboto Regular";
    font-size: 12px;
}
.contact .container .contact-form .info {
    clear: both;
}
@media (max-width: 885px) {
    #result2 p {
        top: 0;
        margin: 5px 0;
    }
}

@media (max-width: 429px) {
    #result2 p {
        float: none;
        text-align: center;
    }
}

.modal-header{
    padding: 0!important;
    p {
        font-family: $f-bold;
        font-size: 18px;
        line-height: 25px;
        width: 100%;
        display: inline-block;
        background-color: $c-blue;
        color: white;
        text-align: center;
        padding: 7.5px 0;
        @media(max-width:768px) {
            font-size: 16px;
            line-height: 20px;
        }
        @media(max-width:414px) {
            font-size: 14px;
            line-height: 18px;
        }
    }
}

.modal-body{
    padding: 0!important;
    form {
        width: 360px;
        padding: 20px 25px 25px;
        background-color: white;
        @media(max-width:414px) {
            width: 100%;
            padding: 20px 15px;
        }
        input {
            color: #060809;
            font-family: $f-light;
            font-size: 14px;
            width: 100%;
            margin-top: 5px;
            padding: 7px 15px;
            background-color: #e1e1e1;
            border: solid 1px #e1e1e1;
            &:hover {
                border: solid 1px #91cde2;
            }
            &:focus {
                border: solid 1px $c-blue;
            }
        }
        .submit {
            font-family: $f-bold;
            font-size: 16px;
            line-height: 25px;
            text-transform: uppercase;
            margin-top: 10px;
            color: white;
            background-color: $c-red;
            border: solid 1px $c-red;
            transition: all 0.2s ease-in-out;
            @media(max-width:1024px) {
                font-size: 15px;
            }
            @media(max-width:768px) {
                font-size: 14px;
            }
            @media(max-width:414px) {
                margin-top: 5px;
            }
            &:hover {
                cursor: pointer;
                background-color: white;
                color: $c-red;
                border: solid 1px $c-red;
                transition: all 0.2s ease-in-out;
            }
            &:focus {
                border: solid 1px $c-red;
            }
        }
    }
}

.link-form1{
    cursor: pointer;
}
.s-icon-group-outer.link-form1 img{
    transition: All 0.3s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
    -moz-transition: All 0.3s ease-in-out;
    -o-transition: All 0.3s ease-in-out;
}
.s-icon-group-outer.link-form1:hover img{
    opacity: 0.7;
}
.s-icon-group-outer.link-form1:hover p{
    text-decoration: underline;
}

.modal-content{
    border: none!important;
}
// .modal {
//   text-align: center;
//   padding: 0!important;
// }

// .modal:before {
//   content: '';
//   display: inline-block;
//   height: 100%;
//   vertical-align: middle;
//   margin-right: -4px;
// }

// .modal-dialog {
//   display: inline-block;
//   text-align: left;
//   vertical-align: middle;
// }
//

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - (.5rem * 2));
    @media (min-width: 576px) {
        min-height: calc(100% - (1.75rem * 2));
    }
}