$c-blue: #1d9ac5;
$c-dark-blue: #1b91b9;
$c-red: #f74f28;
$c-orange: #ff712b;
$c-dark-orange: #ed6928;

$f-black: 'Roboto black';
$f-regular: 'Roboto Regular';
$f-bold: 'Roboto Bold';
$f-medium: 'Roboto Medium';
$f-light: 'Roboto Light';